/*
 * Globales
 */

/* Links */
a:focus,
a:hover {
  color: #fff;
}

a{
  color:#728097
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #3656D4;
  border: .05rem;
  margin-top: 2rem;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
  line-height: 2;
}

body {
    margin:0;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

div{
  position: relative;
}



/*** Text ***/

h1{
    color: #1F3E72;
    text-align: left;
}

p{
    color: #728097;
    font-weight: 100;
    text-align:left;
    font-size: 1rem;
    margin-top: 3rem;
}

label{
  color: #728097;
    text-align:left;
    font-size:.75rem;
}

.text-container-left{
    width: 26.8rem;
    float: left;
    margin-left: 3.5rem;
    
}

.lg-top-margin{
  margin-top:  5rem;
}


.text-container-right{
    width: 26.8rem;
    float: right;
    margin-right: 12.5rem;
}

.cover-container {
  max-width: 42em;
}

/*** Images ***/
div img{
    width: 37rem;
}

.img-right{
    float: right;
    display: inline-flex;
    text-align: right;
}

.img-left{
  float: left;
  display:inline-flex;
  text-align: left;
  margin-top: 2rem;
}

.text-icon{
    width: 1rem;
}

.clear-fix {
    overflow: auto;
}

/**** Card ****/
.padding-left-right{
  padding: 0 9rem;
}

.card-icon{
  width: 1.5rem;
}

.card-title {
  color: #1F3E72;
  font-size: 0.9rem;
}

.card-text{
  font-size: .75rem;
  color:#728097;
}

.card-img-top{
  margin-left: 1rem;
  margin-top: 1rem;
}

.emergency-card-p{
margin-top: 0;
font-size: .75rem;
margin-bottom: 3rem;
}

.emergency-card-topandright-margin{
  margin-top: 1rem;
  margin-right:1rem;
}

.emergency-card-title{
  text-align: left;
  margin-bottom: 0.1rem;
}

.sm-margin-right{
  margin-right: 1rem;
}

.md-margin-right{
  margin-right: 2.5rem;
}

/* Banner Brands */
.banner{
  width: 10rem;
  margin-left: 1rem;
  filter: grayscale(0);
  opacity: 100%;
}

.banner-grey{
filter: grayscale(1);
transition-property: filter opacity;  
opacity: 15%;
transition-duration: 15s; 

}

/*
 * Header
 */
.masthead {
  padding-top: 2rem;
    margin:0 6rem;
    margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
  color: #3453CC;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-size: .9rem;
  font-weight: 600;
  color: #716e94fd;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-button {
    padding: 0 .5rem;
    padding-top: 0.5rem;
    font-weight: 700;
    text-shadow: none;
    background-color: #3353D1;
    border: .05rem;
    color: #fff;
    border-bottom: .25rem solid transparent;
    margin-top: 0;
  }

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus, 
.nav-button{
  border-bottom-color: rgba(47, 101, 168, 0.25);
}

.nav-masthead .nav-link + .nav-link,  .nav-button{
  margin-left: 3rem;
}

.nav-masthead .active {
  color: #120c87;
  border-bottom-color: #120c87;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Main
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.main-form {
  margin-top: 28rem;
  margin-left: 4rem;
  position: absolute;
}

.custom-row{
  background-color: #fff;
  padding: 1rem;
}

div label{
  margin-right: 5rem;
}

/* Collapse */
summary{
  color: #1F3E72;
}

.dropdown-div {
  display: inline-flex;
  width: 22rem;
  background-color: #fff;
  margin-top: 3rem;
}

.shadow-b{
  box-shadow:
  inset 0 -3em 3em rgba(0, 0, 0, 0),
        0 0  0 2px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
        
}

h5{
  color: #1F3E72;
}



/*
 * Footer
 */
.mastfoot {
  color: #2b286e;
  background-color: #EEF3FF;
}

.container-footer {
  width: 9rem;
  display: inline-flex;
  font-size: 2rem;
}

.card{
  border: none;
  background-color: transparent;
}

.xsm-margin-top{
  margin-top:  .5rem;
}

.sm-margin-top{
  margin-top: 1rem;
}

.md-margin-top{
  margin-top: 2.5rem;
}

.footer-item{
  margin-top: 0;
  display: inline-grid;
  float: left;
  margin-left: 3rem;
}

.footer-right{
  margin-left: 25rem;
}

.text-width{
  width:9rem;
}